@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

.container {
  font-family: 'Poppins', sans-serif;
  display: flex;
  min-width: 1000px;
  min-height: 100vh;
}

.main {
  padding: 20px;
  background-color: #f6f6f6;
  flex-grow: 1;
}

input {
  border-radius: 5px;
  color: white;
  border: none;
  padding: 4px;
  font-size: 16px;
  background-color: #656565;
}

.edit {
  font-size: 28px;
  color: #404040;
  cursor: pointer;
}

.accept {
  font-size: 28px;
  color: #5c9944;
  cursor: pointer;
}

.delete {
  font-size: 24px;
  color: #bf4416;
  cursor: pointer;
}

.edit:hover,
.delete:hover,
.accept:hover {
  transform: scale(1.2);
}

.add-one {
  background-color: #dedede;
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  color: #404040;

  &:hover {
    background-color: #dbdbdb;
    transform: scale(1.02);
  }
}

.signatures {
  padding-top: 10px;
  border-top: 1px solid black;
}

.checkBox {
  height: 20px;
  width: 20px;
}

table {
  width: 100%;
}

th {
  padding: 2px;
  background-color: #dedede;
}

.add-table-header {
  font-size: 25px;
  cursor: pointer;
  color: #404040;

  &:hover {
    transform: scale(1.2);
  }
}

.generate-button {
  cursor: pointer;
  margin-top: 200px;
  padding: 20px;
  text-align: center;
  background-color: #656565;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;

  &:hover {
    background-color: #767676;
  }
}

.inactive {
  background-color: #a1a1a1;

  &:hover {
    background-color: #a1a1a1;
  }
}

.w-300 {
  width: 250px;
}

.max-w-250 {
  max-width: 100px;
}

.w-400 {
  width: 400px;
}

.d-flex {
  display: flex;
}

.content-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.grow1 {
  flex-grow: 1;
}

.space-btw {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.pl-10 {
  padding-left: 10px;
}

.p-5 {
  padding: 10px 10px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-30 {
  margin-bottom: 30px;
}

.m-0 {
  margin: 0;
}

.mt-10 {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.text-hover {
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
  min-width: 100px;

  &:hover {
    background-color: #d0d0d0;
  }
}

.text-area {
  width: 100%;
  padding: 10px;
  height: 50px;
  background-color: #656565;
  color: white;
}
